:root {
    --primary-color: #E84C3B;
    --white-color: white;
    --black-color: #1A1A1A;
}

* {
    box-sizing: border-box;
}

html, body {
    direction: rtl;
    margin: 0;
    font-family: 'Noto Sans Hebrew', sans-serif;
    background-color: var(--black-color);
    color: var(--white-color);
    line-height: 1.5;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin: 0;
}

p {
    font-weight: 300;
    margin: 0;
}

/* GLOBALS */

.page-padding {
    padding: 0 2.5rem;
}

@media screen and (max-width: 580px) {
    .page-padding {
        padding: 0 1rem;
    }
}

.container {
    width: 100%;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.container-large {
    width: 100%;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}

.title-holder {
    padding-right: 1rem;
    border-right: 1rem solid var(--primary-color);
}

.no-margin {
    margin: 0 !important;
}

.margin-top {
    margin-top: 1.5rem;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.rich-text p{
    margin-top: 1rem;
}

.rich-text p:first-of-type{
    margin-top: 0rem;
}

.btn-dark {
    display: inline-block;
    font-weight: 600;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 0.6rem 1rem;
    transition: all 250ms;
}

.btn-dark:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.hero_logo {
    position: absolute;
    width: 125px;
    height: auto;
    z-index: 6;
    top: 1rem;
    right: 1rem;
}


/* BtnPrimary */

.btn-primary {
    display: inline-block;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.6rem 1rem;
    transition: all 250ms;
}

.btn-primary:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}


/* BtnSecondary */

.btn-secondary {
    display: inline-block;
    font-weight: 600;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    padding: 0.6rem 1rem;
    transition: all 250ms;
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* TEST */
/* EventDate */

.event-date {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-date p {
    color:#E84C3B;
    font-weight: 600;
}

.event-date h3,h4 {
    margin:0;
}

.event-date h4 {
    font-size: .8rem;
}

@media screen and (max-width: 580px) {
    .event-date {
        flex-direction: column;
        gap: 1rem;
    }

    .event-date .btn-secondary {
        width: 100%;
    }
}


/* Navbar */

.navbar {
    z-index: 5;
    
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    
    padding: 1rem;
}

.navbar svg{
    width: 50px;
    height: 50px;
    color: var(--white-color);
}

.navbar_logo {
    width: 125px;
    height: auto;
}

.navbar_open {
    cursor: pointer;
}

.navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100vh;
    width: 50%;
    max-width: 500px;

    padding: 2.5rem;

    background-color: #E84C3B;
    box-shadow: 3px 0px 10px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 580px) {

    .navbar-menu {
        width: 100%;
    }
}

.navbar-menu a {
    margin: 1rem 0;
    text-align: end;
    display: block;
    font-size: 2.5rem;
    color: var(--white-color);
}

.navbar_close {
    position: absolute;
    left: 2rem;
    top: 2rem;
    cursor: pointer;
}


/* PageHero */

.section-hero {
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.section-hero_img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.section-hero_content {
    position: relative;
    z-index: 2;
}

.section-hero_content h1 {
    font-size: 3.5rem;
}

/* Cta */

.cta {
    padding: 5rem;
    background-color: var(--primary-color);
    text-align: center;
}

.cta p {
    font-size: 2rem;
    font-weight: 600;
}

@media screen and (max-width: 580px) {
    .cta {
        padding: 1.5rem;
    }
}


/* MeFeature */

.me-features_carousel {
    cursor: grab;
    text-align: center;
}

.me-features_inner-carousel {
    display: flex;
    position: relative;
    height: 25vw;
    gap: 1rem;
    margin-top: 5rem;
}

@media screen and (max-width: 580px) {
    .me-features_inner-carousel {
        height: 50vh;
    }
}

.me-feature {
    position: relative;
    overflow: hidden;
    flex-basis: calc(33.3333% - 1rem);
    flex-shrink: 0;
    border-radius: 1rem;

    background-color: black;
}

@media screen and (max-width: 580px) {
    .me-feature {
        flex-basis: calc(75% - 1rem);
    }
}

.me-feature_img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.35;
}

.me-feature_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 2.5rem;
    z-index: 2;
}

/*teamMember*/

.team-member {
    flex-basis: calc(50% - 2.5rem);
    position: relative;
}

@media screen and (max-width: 580px) {
    .team-member {
        flex-basis: auto;
    }
}

.team-member_img {
    width: 100%;
    border-radius: 2.5rem;
    overflow: hidden;
}

.team-member_content {
    padding: 0.5rem 1.5rem;
}

.team-member h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

/* Collaborations */
.collaboration {
    flex-basis: 100px;
    transition: transform 150ms;
}

.collaboration:hover {
    transform: scale(1.05);
}

.collaboration_img {
    width: 100%;
    border-radius: 1rem;
}

/* RepertoireItem */
.repertoire_item {
    flex-basis: calc(33.3333% - 2.5rem);
}

@media screen and (max-width: 800px) {
    .repertoire_item {
        flex-basis: calc(50% - 2.5rem);
    }
}

@media screen and (max-width: 580px) {
    .repertoire_item {
        flex-basis: 100%;
    }
}

.repertoire_img-holder {
    position: relative;
    padding-top: 80%;
    overflow: hidden;
    border-radius: 2.5rem;
}

.repertoire_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.repertoire_video-link {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    position: absolute;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.repertoire_video-link svg {
    margin-top: auto;
}

.repertoire_content {
    padding: 0.5rem 1.5rem;
}


/* PAGES */

/* homepage */
.section-home-hero {
    height: 100vh;
    position: relative;
}

.home-hero_video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.section-home-about {
    margin: 5rem 0;
}

.section-home-about h1 {
    font-size: 4rem;
    width: 5ch;
    line-height: 1;
    margin-bottom: 1rem;
}

.home-parallax_image-holder {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 580px) {
    .home-parallax_image-holder {
        height: 50vh;
    }
}

.home-parallax_image-container {
    position: relative;
    top: -10%;
    width: 100%;
    height: 120%;
}

.home-parallax_image-holder img {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-home-dates {
    position: relative;
    top: -5rem;
}

@media screen and (max-width: 580px) {
    .section-home-dates {
        text-align: center;
    }
}

.home-dates_title {
    position: relative;
    display: inline-block;
    z-index: 10;

    font-size: 1.5rem;
    padding: 0 .8rem;
    margin-bottom: 2.5rem;

    background-color: #E84C3B;
}

.dates-list {
    margin-top: 1rem;
}

.dates-list li:nth-child(odd) {
    background-color: #272727;
}

.dates-list li:nth-child(even) {
    background-color: #3A3A3A;
}

/* tremolo-center */
.section-tc-about {
    padding: 5rem 0;
}

.section-tc-features {
    background-color: #272727;
}

.tc-features-container {
    display: flex;
    flex-direction: column;
}

.tc-features_item {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 580px) {
    .tc-features_item {
        flex-direction: column-reverse !important;
    }
}

.tc-features_item:nth-child(odd){
    flex-direction: row-reverse;
}

.tc-features_content-holder {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 50%;
    padding: 2.5rem;
}

.tc-features_image-holder {
    flex-basis: 50%;
    position: relative;
    padding-top: 30%;
}

@media screen and (max-width: 580px) {
    .tc-features_image-holder {
        padding-top: 80%;
    }
}

.tc-features_image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}


/* Music Education */

.section-me-about {
    margin: 5rem 0;
    overflow: hidden;
}

.section-me-subjects {
    background-color: #272727;
}

/* Team */
.section-team-members {
    margin: 5rem 0;
}

.team-members-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

/* Tour */
.section-dates {
    margin: 5rem 0;
}

/* About */
.section-about-about, .section-about-collaborations {
    margin: 5rem 0;
}

.collaborations_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 580px) {
    .section-dates {
        text-align: center;
    }
}

/* Repertoire */
.section-repertoire {
    margin: 5rem 0;
}

.repertoire_list {
    position: relative;

    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;

    margin-top: 2.5rem;
}

/* Footer */

@media screen and (max-width: 580px) {
    footer {
        text-align: center;
    }
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;

    margin: 5rem 0;
}

@media screen and (max-width: 580px) {
    .footer_container {
        gap: 2.5rem;
    }
}

.footer_box {
    flex-grow: 1;
}

footer h5 {
    font-size: 1.25rem;
}

footer h6 {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.footer_social-icons-holder {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 580px) {
    .footer_social-icons-holder {
        justify-content: center;
    }
}

.footer_logo {
    width: 200px;
    height: auto;
}